* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: center;
}

#grid {
  width: 42rem;
  height: 42rem;
  display: flex;
  flex-flow: row wrap;
  border: solid black;
  justify-content: space-around;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}
.menu {
  padding-right: 20px;
  font-weight: 700;
  font-size: 24px;
}
h1 {
  text-align: center;
}
